<div>
    <legend>Game statistic: {{model.homeTeam.name}} - {{model.awayTeam.name}} ({{formattedDate model.date}} )</legend>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Stats</a></li>
        <li role="presentation"><a href="#compare-teams" aria-controls="compare-teams" role="tab" data-toggle="tab">Compare Teams</a></li>
        <li role="presentation"><a href="#compare-teams-charts" aria-controls="compare-teams-charts" role="tab" data-toggle="tab">Compare Teams Charts</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <h4>Home: {{model.homeTeam.name}}</h4>
            {{team-statistic stats=model.homeTeamStats}}

            <h4>Away: {{model.awayTeam.name}}</h4>
            {{team-statistic stats=model.awayTeamStats}}
        </div>
        <div role="tabpanel" class="tab-pane" id="compare-teams">
            <legend>Compare Teams</legend>
            {{compare-summary-stats data=model}}
        </div>

        <div role="tabpanel" class="tab-pane" id="compare-teams-charts">
            {{compare-summary-charts gameData=model}}
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">settings</div>
    </div>
</div>


