<td><strong>{{title}}</strong></td>
<td>
  {{summary-by-event stats=stats event="freeThrowMade"}}/{{summary-by-event stats=stats event="freeThrowAttempts"}}
</td>
<td>{{percent-by-event stats=stats event-made="freeThrowMade" event-total="freeThrowAttempts"}}</td>
<td>{{summary-by-event stats=stats event="fieldGoalMade"}}/{{summary-by-event stats=stats event="fieldGoalAttempts"}}</td>
<td>{{percent-by-event stats=stats event-made="fieldGoalMade" event-total="fieldGoalAttempts"}}</td>
<td>{{summary-by-event stats=stats event="threePointMade"}}/{{summary-by-event stats=stats event="threePointAttempts"}}</td>
<td>{{percent-by-event stats=stats event-made="threePointMade" event-total="threePointAttempts"}}</td>
<td>{{summary-by-event stats=stats event="offenciveRebounds"}}</td>
<td>{{summary-by-event stats=stats event="deffenciveRebounds"}}</td>
<td>{{summary-by-event stats=stats event="totalRebounds"}}</td>
<td>{{summary-by-event stats=stats event="fouls"}}</td>
<td>{{summary-by-event stats=stats event="foulsCommited"}}</td>
<td>{{summary-by-event stats=stats event="assists"}}</td>
<td>{{summary-by-event stats=stats event="blockshots"}}</td>
<td>{{summary-by-event stats=stats event="losses"}}</td>
<td>{{summary-by-event stats=stats event="steels"}}</td>
<td>{{summary-by-event stats=stats event="efficiency"}}</td>
<td>{{summary-by-event stats=stats event="points"}}</td>