<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th rowspan="2">Players</th>
                <th colspan="2">FT</th>
                <th colspan="2">2-points</th>
                <th colspan="2">3-points</th>
                <th colspan="3">Rebounds</th>
                <th colspan="2">Fouls</th>
                <th rowspan="2">LOS</th>
                <th rowspan="2">STL</th>
                <th rowspan="2">AST</th>
                <th rowspan="2">BLK</th>
                <th rowspan="2">EFF</th>
                <th rowspan="2">Points</th>
            </tr>
            <tr>
                <th>Hit/Tot</th>
                <th>%</th>
                <th>Hit/Tot</th>
                <th>%</th>
                <th>Hit/Tot</th>
                <th>%</th>

                <th>Off</th>
                <th>Def</th>
                <th>Tot</th>
                <th>Made</th>
                <th>On player</th>
            </tr>
            </thead>
            <tbody>
            {{#each stats as |row|}}
                <tr class={{if row.lineup 'active'}}>
                    <td>{{row.player.nameWithNumber}}</td>
                    <td>{{row.freeThrowMade}}/{{row.freeThrowAttempts}}</td>
                    {{#best-value stats=stats event='freeThrowPercent' val=row.freeThrowPercent}}
                        {{row.freeThrowPercent}}%
                    {{/best-value}}
                    <td>{{row.fieldGoalMade}}/{{row.fieldGoalAttempts}}</td>
                    {{#best-value stats=stats event='fieldGoalPercent' val=row.fieldGoalPercent}}
                        {{row.fieldGoalPercent}}%
                    {{/best-value}}
                    <td>{{row.threePointMade}}/{{row.threePointAttempts}}</td>
                    {{#best-value stats=stats event='threePointPercent' val=row.threePointPercent}}
                        {{row.threePointPercent}}%
                    {{/best-value}}
                    {{#best-value stats=stats event='offenciveRebounds' val=row.offenciveRebounds}}
                        {{row.offenciveRebounds}}
                    {{/best-value}}
                    {{#best-value stats=stats event='deffenciveRebounds' val=row.deffenciveRebounds}}
                        {{row.deffenciveRebounds}}
                    {{/best-value}}
                    {{#best-value stats=stats event='totalRebounds' val=row.totalRebounds}}
                        {{row.totalRebounds}}
                    {{/best-value}}
                    <td>{{row.fouls}}</td>
                    <td>{{row.foulsCommited}}</td>
                    <td>{{row.losses}}</td>
                    {{#best-value stats=stats event='steels' val=row.steels}}
                        {{row.steels}}
                    {{/best-value}}
                    {{#best-value stats=stats event='assists' val=row.assists}}
                        {{row.assists}}
                    {{/best-value}}
                    {{#best-value stats=stats event='blockshots' val=row.blockshots}}
                        {{row.blockshots}}
                    {{/best-value}}
                    {{#best-value stats=stats event='efficiency' val=row.efficiency}}
                        {{row.efficiency}}
                    {{/best-value}}
                    {{#best-value stats=stats event='points' val=row.points}}
                        {{row.points}}
                    {{/best-value}}
                </tr>
            {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Totals</strong></td>
                    <td>{{summary-by-event stats=stats event="freeThrowMade"}}/{{summary-by-event stats=stats event="freeThrowAttempts"}}</td>
                    <td>{{percent-by-event stats=stats event-made="freeThrowMade" event-total="freeThrowAttempts"}}</td>
                    <td>{{summary-by-event stats=stats event="fieldGoalMade"}}/{{summary-by-event stats=stats event="fieldGoalAttempts"}}</td>
                    <td>{{percent-by-event stats=stats event-made="fieldGoalMade" event-total="fieldGoalAttempts"}}</td>
                    <td>{{summary-by-event stats=stats event="threePointMade"}}/{{summary-by-event stats=stats event="threePointAttempts"}}</td>
                    <td>{{percent-by-event stats=stats event-made="threePointMade" event-total="threePointAttempts"}}</td>
                    <td>{{summary-by-event stats=stats event="offenciveRebounds"}}</td>
                    <td>{{summary-by-event stats=stats event="deffenciveRebounds"}}</td>
                    <td>{{summary-by-event stats=stats event="totalRebounds"}}</td>
                    <td>{{summary-by-event stats=stats event="fouls"}}</td>
                    <td>{{summary-by-event stats=stats event="foulsCommited"}}</td>
                    <td>{{summary-by-event stats=stats event="assists"}}</td>
                    <td>{{summary-by-event stats=stats event="blockshots"}}</td>
                    <td>{{summary-by-event stats=stats event="losses"}}</td>
                    <td>{{summary-by-event stats=stats event="steels"}}</td>
                    <td>{{summary-by-event stats=stats event="efficiency"}}</td>
                    <td>{{summary-by-event stats=stats event="points"}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>